body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
    margin: 0;
    font-family: 'Courier New', Courier, monospace; /* Fonte estilo arcade */
}

.painel-score {
    width: 600px;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    font-size: 20px;
    color: #535353;
    font-weight: bold;
    margin-bottom: 10px;
}

#highscore {
    color: #747474; /* Recorde fica um pouco mais claro */
}

.jogo {
    width: 600px;
    height: 200px;
    border-bottom: 2px solid #333;
    position: relative;
    overflow: hidden;
    background-color: #fff;
}

#dino {
    width: 40px;
    height: 40px;
    background-color: #535353;
    position: absolute;
    bottom: 0;
    left: 50px;
}

#cacto {
    width: 20px;
    height: 40px;
    background-color: #008000;
    position: absolute;
    bottom: 0;
    left: 580px;
    animation: moverCacto 1.5s infinite linear;
}

.placar {
    margin-top: 20px;
    font-size: 18px;
    color: #747474;
}

.pular {
    animation: andar 0.5s linear;
}

@keyframes andar {
    0% { bottom: 0; }
    50% { bottom: 100px; }
    100% { bottom: 0; }
}

@keyframes moverCacto {
    0% { left: 600px; }
    100% { left: -20px; }
}